{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title">
                <h2>collection</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">collection</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>
<!-- breadcrumb end -->


<!-- section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ul class="tabs tab-title2">
                        <li class="current"><a href="tab-1">new arrival</a></li>
                        <li class=""><a href="tab-2">top sell</a></li>
                        <li class=""><a href="tab-3">featured</a></li>
                    </ul>
                    <div class="tab-content-cls no-color-varient">
                        <div id="tab-1" class="tab-content active default">
                            <div class="row no-slider">

                            {% for product in products %}
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="{% url 'product:product_detail' product.slug %}">
                                                {% for image in product.images.all %}
                                                {% if image.is_main %}
                                                <img
                                                    src="{{ image.image.url }}"
                                                    class="img-fluid blur-up lazyload bg-img" alt="">
                                                {% endif %}
                                                {% endfor %}
                                                </a>
                                        </div>
                                        <div class="back">
                                            <a href="{% url 'product:product_detail' product.slug %}">
                                                {% for image in product.images.all %}
                                                {% if image.is_second_main %}
                                                <img
                                                    src="{{ image.image.url }}"
                                                    class="img-fluid blur-up lazyload bg-img" alt="">
                                                {% endif %}
                                                {% endfor %}
                                                </a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-toggle="modal" data-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i
                                                    class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                    class="ti-search" aria-hidden="true"></i></a> <a
                                                href="compare.html" title="Compare"><i class="ti-reload"
                                                    aria-hidden="true"></i></a></div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i></div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>{{ product.title }}</h6>
                                        </a>
                                        <h4>{{ product.get_price }}</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}




                                {% comment %} {% for product in products %}
                                <div class="product-box product-wrap">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            
                                            <a href="{% url 'product:product_detail' product.id %}"><img alt=""
                                                    src="{{ product.image.url }}"
                                                    class="img-fluid blur-up lazyload bg-img"></a>
                                                    
                                        </div>
                                        {% for image in product.images.all %}
                                        <div class="back">
                                            <a href="{% url 'product:product_detail' product.id %}"><img alt=""
                                                    src="{{ image.image.url }}"
                                                    class="img-fluid blur-up lazyload bg-img"></a>
                                        </div>
                                        {% endfor %}
                                        <div class="cart-detail">
                                            <button data-toggle="modal" data-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                    class="ti-heart" aria-hidden="true"></i></a> -->
                                                <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                    class="ti-search" aria-hidden="true"></i></a>
                                                <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                    aria-hidden="true"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i></div> -->
                                        <a href="{% url 'product:product_detail' product.id %}">
                                            <h6>{{ product.brand.name |title }} {{product.title}}
                                                {% if product.internal_storage %}
                                                <span>{{product.internal_storage}}</span>
                                                {% endif %}
                                            </h6>
                                        </a>
                                        <h4>{{product.price}} manat</h4>
                                    </div>
                                </div>
                                {% endfor %} {% endcomment %}
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content">
                            <div class="no-slider row">
                                {% for product in products %}
                                <div class="product-box product-wrap">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="{% url 'product:product_detail' product.id %}"><img alt=""
                                                    src="{% static 'product/images/electronics/product/7.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img"></a>
                                        </div>
                                        <div class="back">
                                        
                                        </div>
                                        <div class="cart-detail">
                                            <button data-toggle="modal" data-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                    class="ti-heart" aria-hidden="true"></i></a> -->
                                                <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                    class="ti-search" aria-hidden="true"></i></a>
                                                <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                    aria-hidden="true"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i></div> -->
                                        <a href="{% url 'product:product_detail' product.id %}">
                                            <h6>{{ product.brand.name |title }} {{product.title}}
                                                {% if product.internal_storage %}
                                                <span>{{product.internal_storage}}</span>
                                                {% endif %}
                                            </h6>
                                        </a>
                                        <h4>{{product.price}} manat</h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="no-slider row">
                                {% for product in products %}
                                <div class="product-box product-wrap">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="{% url 'product:product_detail' product.id %}"><img alt=""
                                                    src="{% static 'product/images/electronics/product/3.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img"></a>
                                        </div>
                                        <div class="back">
                                            <a href="{% url 'product:product_detail' product.id %}"><img alt=""
                                                    src="{% static 'product/images/electronics/product/4.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img"></a>
                                        </div>
                                        <div class="cart-detail">
                                            <button data-toggle="modal" data-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                    class="ti-heart" aria-hidden="true"></i></a> -->
                                                <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                    class="ti-search" aria-hidden="true"></i></a>
                                                <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                    aria-hidden="true"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i></div> -->
                                        <a href="{% url 'product:product_detail' product.id %}">
                                            <h6>{{ product.brand.name |title }} {{product.title}}
                                                {% if product.internal_storage %}
                                                <span>{{product.internal_storage}}</span>
                                                {% endif %}
                                            </h6>
                                        </a>
                                        <h4>{{product.price}} manat</h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->

{% endblock %}